In [1]:
mydict={"name":"viju","id":"103","subject":"BCA"}

In [2]:
mydict

{'name': 'viju', 'id': '103', 'subject': 'BCA'}

In [6]:
mydict["name"]

'viju'

In [7]:
d1={"key1":12,"key2":"abc","key3":['a','b','c']}

In [10]:
a=d1["key3"]

In [11]:
a

['a', 'b', 'c']

In [12]:
a[1].upper()

'B'

In [18]:
a=d1["key3"][1].upper()

In [19]:
b=d1["key3"][2].upper()

In [24]:
print(a,b)
a=a.lower()
b=b.lower()
print(x,y)

B C
b c

In [21]:
lower(a,b)

NameError: name 'lower' is not defined

In [22]:
a.lower()

'b'

In [33]:
d2={"name":"viju","id":"103","salary":[10000,10.500,2500]}

In [34]:
d2["name"]

'viju'

In [29]:
d2["id"]

'103'

In [35]:
d2["salary"]

[10000, 10.5, 2500]

In [46]:
d2["salary"]

[10000, 10.5, 2500]

In [38]:
s=d2["salary"][2] + 500

In [39]:
s

3000

In [65]:
if s>2000 :
    print("yes")

yes

In [41]:
s

3000

In [48]:
d3={"year":2000}

In [49]:
d3["year"]=2010

In [50]:
de

NameError: name 'de' is not defined

In [51]:
d3

{'year': 2010}

In [53]:
d2.keys() # to retrive the keys

dict_keys(['name', 'id', 'salary'])

In [54]:
d2.values()

dict_values(['viju', '103', [10000, 10.5, 2500]])

In [67]:
for x in d2:
    print(x.values())

AttributeError: 'str' object has no attribute 'values'

In [61]:
fo

viju
103
[10000, 10.5, 2500]

In [68]:
for x in

SyntaxError: invalid syntax (<ipython-input-68-c08f46775a73>, line 1)

In [75]:
for a,b in d2.items():
    print(a,b)
   # print(b)

name viju
id 103
salary [10000, 10.5, 2500]

In [76]:
d2

{'name': 'viju', 'id': '103', 'salary': [10000, 10.5, 2500]}

In [77]:
d2["palce"]="Belagavi"

In [78]:
d2

{'name': 'viju',
 'id': '103',
 'salary': [10000, 10.5, 2500],
 'palce': 'Belagavi'}

In [79]:
d2.pop("id")

'103'

In [80]:
d2

{'name': 'viju', 'salary': [10000, 10.5, 2500], 'palce': 'Belagavi'}

In [81]:
d2.popitem()

('palce', 'Belagavi')

In [82]:
d2

{'name': 'viju', 'salary': [10000, 10.5, 2500]}

In [83]:
d2["name"].repalce("viju","aju")

AttributeError: 'str' object has no attribute 'repalce'

In [84]:
del d1

In [85]:
d1

NameError: name 'd1' is not defined

In [86]:
d2.clear()

In [87]:
d2

{}

In [89]:
car={1:{"name":"BMW","Year":2000},
    2:{"name":"Audi","Year":2018}}

In [92]:
car

{1: {'name': 'BMW', 'Year': 2000}, 2: {'name': 'Audi', 'Year': 2018}}

In [95]:
car[1]["name"]

'BMW'

In [94]:
print(car[1]["name"])

BMW

In [100]:
car[3]={}
    
car[3]["name"]="Audi"
car[3]["Year"]=2000
print(car[3])

{'name': 'Audi', 'Year': 2000}

In [101]:
car

{1: {'name': 'BMW', 'Year': 2000},
 2: {'name': 'Audi', 'Year': 2018},
 3: {'name': 'Audi', 'Year': 2000}}

In [2]:
del car[3]["year"]

NameError: name 'car' is not defined

In [3]:
car

NameError: name 'car' is not defined

In [4]:
d1

NameError: name 'd1' is not defined

In [5]:
car={1:{"name":"BMW","Year":2000},
    2:{"name":"Audi","Year":2018}}

In [6]:
car

{1: {'name': 'BMW', 'Year': 2000}, 2: {'name': 'Audi', 'Year': 2018}}

In [26]:
x=car[1].get("year")
print(car[1]['year'])

KeyError: 'year'

In [8]:
if k  in car:
    print(k)

NameError: name 'k' is not defined

In [9]:
if car[k] in car:
    print(x)

NameError: name 'k' is not defined

In [11]:
if 'id' in car:
    print("yes")

In [13]:
d1={"key1":12,"key2":"abc","key3":['a','b','c']}

In [27]:
student={1:{"name":"vijay","id":101,"marks":25},
         2:{"name":"Ajay","id":102,"marks":15},
        3:{"name":"Prakash","id":103,"marks":35}}

In [28]:
student

{1: {'name': 'vijay', 'id': 101, 'marks': 25},
 2: {'name': 'Ajay', 'id': 102, 'marks': 15},
 3: {'name': 'Prakash', 'id': 103, 'marks': 35}}

In [31]:
student[1]["name"].replace("vijay","asdfd")

'asdfd'

In [30]:
student

{1: {'name': 'vijay', 'id': 101, 'marks': 25},
 2: {'name': 'Ajay', 'id': 102, 'marks': 15},
 3: {'name': 'Prakash', 'id': 103, 'marks': 35}}

In [32]:
student[1]["name"]="akash"

In [33]:
student

{1: {'name': 'akash', 'id': 101, 'marks': 25},
 2: {'name': 'Ajay', 'id': 102, 'marks': 15},
 3: {'name': 'Prakash', 'id': 103, 'marks': 35}}

In [34]:
student[1]["pass"]="Yes"

In [35]:
student[2]["place"]="Banglore"

In [36]:
student

{1: {'name': 'akash', 'id': 101, 'marks': 25, 'pass': 'Yes'},
 2: {'name': 'Ajay', 'id': 102, 'marks': 15, 'place': 'Banglore'},
 3: {'name': 'Prakash', 'id': 103, 'marks': 35}}

In [37]:
student[1]

{'name': 'akash', 'id': 101, 'marks': 25, 'pass': 'Yes'}

In [40]:
print(student[1])

{'name': 'akash', 'id': 101, 'marks': 25, 'pass': 'Yes'}

In [42]:
student[1].pop("pass")

'Yes'

In [43]:
student[1]

{'name': 'akash', 'id': 101, 'marks': 25}

In [45]:
for x in student.values():
    print(x)

{'name': 'akash', 'id': 101, 'marks': 25}
{'name': 'Ajay', 'id': 102, 'marks': 15, 'place': 'Banglore'}
{'name': 'Prakash', 'id': 103, 'marks': 35}

In [46]:
demo1={1:{"name":"aaa","designation":"asdf","year":2000},
      2:{"name":"bbb","designation":"aaa","year":2100},
      3:{"name":"ccc","designation":"ddd","year":2050}}

In [47]:
demo1[1]["designation"].replace("asdf","aaaa")

'aaaa'

In [52]:
mylist=["ginger","ladyfinger","cucumber"]

In [55]:
mylist.insert(0,"lemon")

In [56]:
mylist

['lemon', 'ginger', 'lemon', 'ladyfinger', 'cucumber']

In [59]:
print(mylist)

['lemon', 'ginger', 'lemon', 'ladyfinger', 'cucumber']

In [60]:
x="Ginger"

In [61]:
x

'Ginger'

In [62]:
x.replace("Ginger","Lemon")

'Lemon'

In [63]:
x

'Ginger'

In [64]:
print(x.repalce("Ginger","Lemon"))

AttributeError: 'str' object has no attribute 'repalce'