In [1]:
mydict={"name":"viju","id":"103","subject":"BCA"}

In [2]:
mydict

{'name': 'viju', 'id': '103', 'subject': 'BCA'}

In [6]:
mydict["name"]

'viju'

In [7]:
d1={"key1":12,"key2":"abc","key3":['a','b','c']}

In [10]:
a=d1["key3"]

In [11]:
a

['a', 'b', 'c']

In [12]:
a[1].upper()

'B'

In [18]:
a=d1["key3"][1].upper()

In [19]:
b=d1["key3"][2].upper()

In [24]:
print(a,b)
a=a.lower()
b=b.lower()
print(x,y)

B C
b c

In [21]:
lower(a,b)

NameError: name 'lower' is not defined

In [22]:
a.lower()

'b'

In [33]:
d2={"name":"viju","id":"103","salary":[10000,10.500,2500]}

In [34]:
d2["name"]

'viju'

In [29]:
d2["id"]

'103'

In [35]:
d2["salary"]

[10000, 10.5, 2500]

In [46]:
d2["salary"]

[10000, 10.5, 2500]

In [38]:
s=d2["salary"][2] + 500

In [39]:
s

3000

In [65]:
if s>2000 :
    print("yes")

yes

In [41]:
s

3000

In [48]:
d3={"year":2000}

In [49]:
d3["year"]=2010

In [50]:
de

NameError: name 'de' is not defined

In [51]:
d3

{'year': 2010}

In [53]:
d2.keys() # to retrive the keys

dict_keys(['name', 'id', 'salary'])

In [54]:
d2.values()

dict_values(['viju', '103', [10000, 10.5, 2500]])

In [67]:
for x in d2:
    print(x.values())

AttributeError: 'str' object has no attribute 'values'

In [61]:
fo

viju
103
[10000, 10.5, 2500]

In [68]:
for x in

SyntaxError: invalid syntax (<ipython-input-68-c08f46775a73>, line 1)

In [75]:
for a,b in d2.items():
    print(a,b)
   # print(b)

name viju
id 103
salary [10000, 10.5, 2500]

In [76]:
d2

{'name': 'viju', 'id': '103', 'salary': [10000, 10.5, 2500]}

In [77]:
d2["palce"]="Belagavi"

In [78]:
d2

{'name': 'viju',
 'id': '103',
 'salary': [10000, 10.5, 2500],
 'palce': 'Belagavi'}

In [79]:
d2.pop("id")

'103'

In [80]:
d2

{'name': 'viju', 'salary': [10000, 10.5, 2500], 'palce': 'Belagavi'}

In [81]:
d2.popitem()

('palce', 'Belagavi')

In [82]:
d2

{'name': 'viju', 'salary': [10000, 10.5, 2500]}

In [83]:
d2["name"].repalce("viju","aju")

AttributeError: 'str' object has no attribute 'repalce'

In [84]:
del d1

In [85]:
d1

NameError: name 'd1' is not defined

In [86]:
d2.clear()

In [87]:
d2

{}

In [89]:
car={1:{"name":"BMW","Year":2000},
    2:{"name":"Audi","Year":2018}}

In [92]:
car

{1: {'name': 'BMW', 'Year': 2000}, 2: {'name': 'Audi', 'Year': 2018}}

In [95]:
car[1]["name"]

'BMW'

In [94]:
print(car[1]["name"])

BMW

In [100]:
car[3]={}
    
car[3]["name"]="Audi"
car[3]["Year"]=2000
print(car[3])

{'name': 'Audi', 'Year': 2000}

In [101]:
car

{1: {'name': 'BMW', 'Year': 2000},
 2: {'name': 'Audi', 'Year': 2018},
 3: {'name': 'Audi', 'Year': 2000}}